<script>
import {connect, authenticate, authorization, connection, observables, shadow} from './cr.js';
import TextObserver from './TextObserver.svelte';
import SvgObserver from './SvgObserver.svelte';

let controls;
let text_input;

connect('wss://192.168.0.3:9001/control_room');
$: if($connection) authenticate("test", "test");
</script>

<main>
	<h1>Dashboard</h1>
    {#if $connection && $authorization }

    	<h2>Available observables: </h2>
    	<ul>
      	{#each Object.keys($observables) as obs}
    	<li>{obs}</li>
    	{/each}
    	</ul>

    	<h2>Simple text observable with controls</h2>

      <TextObserver observable="date" bind:controls={controls}/>
      <form>
          <label>
              Controls:
              <input type="text" bind:value={text_input}/>
              <button on:click|preventDefault={() => { controls = { controls: text_input }}} >Ok</button>
          </label>
      </form>

      <h2>SvgObserver hidden in Shadow DOM</h2>
      
      <div use:shadow={{component: SvgObserver, props: {observable: "date"}}}/>

    {/if} 
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	ul {
		list-style-type: none;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>