<script>
import zoomPlugin from 'chartjs-plugin-zoom';
import { Chart }  from 'chart.js';
import {init_observer} from './cr.js';


export let observable;
export let controls = undefined;

let _controls = undefined;
let datasets;
let unsubscribe;

let _chart;

let {config, update} = init_observer(observable);

$: if(controls) {
    _controls = controls;
} else if($config) {
    _controls = $config.client.controls;
}

// first update, subscribtion to server
$: if (_controls) {
    datasets = update(_controls);
}

function fill_chart() {
    unsubscribe ??= datasets.subscribe( (datasets) => {
        if (_chart) {
            datasets.map( (data, i) => _chart.data.datasets[i].data=data );
            _chart.update();
        }
    });
}
$: if(datasets) fill_chart();


Chart.defaults.global.datasets.scatter.showLine = true;
Chart.defaults.global.datasets.scatter.fill = false;

function plotter(ref) {

    let options = $config.client.options;

    options.maintainAspectRatio = false;
    options.responsive = true;
    options.animation = false;
    options.title = {
        display: true,
        test: $config.client.title
    };
    options.plugins = {
            zoom: {
                zoom: {
                    enabled: true,
                    mode: 'x',
                },
                pan: {
                    enabled: true,
                    mode: 'xy',
                }
            }
    };


    //TODO: data_conf.options
    let length = $config.data_conf.length;
    let data = {
        datasets: $config.data_conf.map( (config, i) => ({
            label: config.name,
            borderColor: 'hsl('+i*360/length+',90%,75%)',
            backgroundColor: 'hsl('+i*360/length+',90%,75%)',
            data: []
        }))};


    const conf = {
        type: 'scatter',
        data,
        options
    };


    _chart = new Chart(ref, conf);

    return {
        destroy: () => {
            unsubscribe();
            _chart.destroy()
        }
    }
}

function resetZoom() {
    if(_chart) {
        _chart.resetZoom();
        delete _chart.options.scales.xAxes[0].ticks.max;
        delete _chart.options.scales.xAxes[0].ticks.min;
        _chart.update();
    }
}

</script>
{#if $config}
    <canvas use:plotter on:click={resetZoom}/>
{/if}

<style>
    canvas {
        width: 100%;
        height: 100%;
    }
</style>
