<script>
import {init_observer} from './cr.js';

export let observable;
export let controls = undefined;

let _controls;
let datasets;

let {config, update} = init_observer(observable);


$: if(controls) {
    _controls = controls;
} else if($config) {
    _controls = $config.client.controls;
}

// first update, subscribtion to server
$: if (_controls && update) {
    datasets = update(_controls);
}



</script>
{#if $datasets}

<div>
<!-- paste an svg from Inskape here and change parameters to dataset's data -->
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   width="100%"
   height="100%"
   version="1.1"
   id="svg8">
  <defs
     id="defs2">
    <linearGradient
       id="linearGradient18">
      <stop
         style="stop-color:#800000;stop-opacity:1"
         offset="0"
         id="stop14" />
      <stop
         style="stop-color:#ffd42a;stop-opacity:1"
         offset="1"
         id="stop16" />
    </linearGradient>
    <linearGradient
       xlink:href="#linearGradient18"
       id="linearGradient20"
       x1="31.569687"
       y1="100.18451"
       x2="181.62508"
       y2="77.079163"
       gradientUnits="userSpaceOnUse" />
  </defs>
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="layer1"
     transform="translate(-10.997425,-18.974483)">
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:29.7964px;line-height:125%;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:url(#linearGradient20);fill-opacity:1;stroke:none;stroke-width:0.46557px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="30.726229"
       y="59.98835"
       id="text12"
       transform="scale(0.9919178,1.0081481)"><tspan
         id="tspan10"
         x="30.726229"
         y="59.98835"
         style="fill:url(#linearGradient20);fill-opacity:1;stroke-width:0.46557px">
{#each $datasets as dataset,i}
        {dataset}
{/each}
    </tspan></text>
  </g>
</svg>
</div>
{/if}

<style>
    div {
        width: 100%;
    }
</style>
