<script>
import {init_observer} from './cr.js';

export let observable;
export let controls = undefined;

let _controls;
let datasets;

let {config, update} = init_observer(observable);

$: if(controls) {
    _controls = controls;
} else if($config) {
    _controls = $config.client.controls;
}

// first update, subscribtion to server
$: if (_controls) {
    datasets = update(_controls);
}

</script>
{#if $datasets}
{#each $datasets as dataset,i}
    <h2>{$config.data_conf[i].name}</h2>
    <p>
        {dataset}
    </p>
{/each}
{/if}
